.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 3rem;
  font-size: 2rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

main {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr) 1fr); */
  grid-template-columns: 300px 1fr;
  grid-gap: 1rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;
}

.action {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.action button {
  font-size: 1.2rem;
}

.filter {
  margin: 1rem 0;
}

.filter button {
  font-size: 1rem;
  margin: .3rem;
  padding: .5rem .9rem;
}

.filter .sort-active {
  background-color: blue;
  color: white;
}

.info {
  margin: 2rem 0;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 16px;
}

.info p {
  padding: .5rem 0;
}

@media only screen and (max-width: 700px) {

  .sidebar,
  .content {
    grid-column: span 2;
  }
}